In [5]:
#ANS1:
km = float(input("enter distance in km: "))
#1 km = 0.62137119 miles
miles = km/1.60934
print("km to miles is: ",miles)

enter distance in km: 1.6
km to miles is:  0.9941963786396909

In [8]:
#ANS2:
celsius = float(input("enter temperature in celsius: "))
farenhiet = (9/5)*celsius + 32
print("temperature in farenhiet is: ",farenhiet)

enter temperature in celsius: 35
temperature in farenhiet is:  95.0

In [10]:
#Ans3:
import calendar
year = int(input("enter year: "))
month = int(input("enter month: "))
print(calendar.month(year,month))

enter year: 2002
enter month: 9
   September 2002
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30

In [11]:
import calendar
year = int(input("enter year: "))
print(calendar.calendar(year))

enter year: 2002
                                  2002

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                   1  2  3                   1  2  3
 7  8  9 10 11 12 13       4  5  6  7  8  9 10       4  5  6  7  8  9 10
14 15 16 17 18 19 20      11 12 13 14 15 16 17      11 12 13 14 15 16 17
21 22 23 24 25 26 27      18 19 20 21 22 23 24      18 19 20 21 22 23 24
28 29 30 31               25 26 27 28               25 26 27 28 29 30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7             1  2  3  4  5                      1  2
 8  9 10 11 12 13 14       6  7  8  9 10 11 12       3  4  5  6  7  8  9
15 16 17 18 19 20 21      13 14 15 16 17 18 19      10 11 12 13 14 15 16
22 23 24 25 26 27 28      20 21 22 23 24 25 26      17 18 19 20 21 22 23
29 30                     27 28 29 30 31            24 25 26 27 28 29 30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7                1  2  3  4                         1
 8  9 10 11 12 13 14       5  6  7  8  9 10 11       2  3  4  5  6  7  8
15 16 17 18 19 20 21      12 13 14 15 16 17 18       9 10 11 12 13 14 15
22 23 24 25 26 27 28      19 20 21 22 23 24 25      16 17 18 19 20 21 22
29 30 31                  26 27 28 29 30 31         23 24 25 26 27 28 29
                                                    30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                   1  2  3                         1
 7  8  9 10 11 12 13       4  5  6  7  8  9 10       2  3  4  5  6  7  8
14 15 16 17 18 19 20      11 12 13 14 15 16 17       9 10 11 12 13 14 15
21 22 23 24 25 26 27      18 19 20 21 22 23 24      16 17 18 19 20 21 22
28 29 30 31               25 26 27 28 29 30         23 24 25 26 27 28 29
                                                    30 31

In [24]:
#Ans4:
import math
a= input("enter cofficient of a: ")
b= input("enter cofficient of b: ")
c= input("enter constant: ")
print("equation: "+ a +"x^2 + " + b +"x^1 + " + c)
d = int(b)**2 - 4*int(a)*int(c)
root1 = (-(int(b))+math.sqrt(d))/2*int(a)
root2 = (-(int(b))-math.sqrt(d))/2*int(a)
print("roots are {} , {}: ".format(root1,root2))

enter cofficient of a: 1
enter cofficient of b: -9
enter constant: 14
equation: 1x^2 + -9x^1 + 14
roots are 7.0 , 2.0:

In [26]:
#Ans5:
num1 = int(input("enter first number: "))
num2 = int(input("enter second number: "))
print("before swap: {} and {}".format(num1,num2))
num2 = num1 + num2 
num1 = num2 - num1
num2 = num2 - num1
print("after swap: {} and {}".format(num1,num2))

enter first number: 23
enter second number: 21
before swap: 23 and 21
after swap: 21 and 23